<main>
  <!--<mat-card class="container-fluid">-->
  <h3 class="text-center mat-title">{{title}}</h3>
  <div class="col-12 mb-2">
    <mat-card>
      <mat-card-title>
        ¿En que te podemos ayudar?
      </mat-card-title>
      <mat-card-content>
        Un experto de Bridge te pude ayudar con aspectos como:
        <ul>
          <li *ngFor="let aspecto of aspectos">{{aspecto.contenido}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="d-block d-sm-flex justify-content-between">
    <div *ngIf="!(loading || submited)" class="col-12 col-sm-7 mb-2 mb-sm-0">
      <mat-card>
        <mat-card-title>
          Formulario de contacto
        </mat-card-title>
        <mat-card-content>
          Envíanos la siguiente información y recibirás una respuesta apropiada dentro de las próximas 24 horas.
          <form [formGroup]="form" (ngSubmit)="submit()">
            <!--Nombre-->
            <mat-form-field class="col-12">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="form.get('name').errors?.required
                          &&( form.get('name').dirty || form.get('name').touched )">
                Este campo es requerido.
              </mat-error>
              <mat-error *ngIf="form.get('name').errors?.pattern
                          &&( form.get('name').dirty || form.get('name').touched )">
                No parece ser un nombre válido.
              </mat-error>
            </mat-form-field>
            <!--Teléfono-->
            <mat-form-field class="col-12">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="phone" type="text" [maxLength]="10" required>
              <mat-error *ngIf="form.get('phone').errors?.required
                          &&( form.get('phone').dirty || form.get('phone').touched )">
                Este campo es requerido.
              </mat-error>
              <mat-error *ngIf="form.get('phone').errors?.pattern
                          &&( form.get('phone').dirty || form.get('phone').touched )">
                No parece ser un teléfono válido (Solo se aceptan números).
              </mat-error>
            </mat-form-field>
            <!--Correo-->
            <mat-form-field class="col-12">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="form.get('email').errors?.required
                          &&( form.get('email').dirty || form.get('email').touched )">
                Este campo es requerido.
              </mat-error>
              <mat-error *ngIf="form.get('email').errors?.email
                          &&( form.get('email').dirty || form.get('email').touched )">
                No parece ser un correo válido.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Mensaje</mat-label>
              <textarea matInput placeholder="Escribe aquí tus dudas, comentarios o aclaraciones" style="resize: none;"
                        rows="5" formControlName="mensaje" required></textarea>
              <mat-error *ngIf="form.get('mensaje').errors?.required
                          &&( form.get('mensaje').dirty || form.get('mensaje').touched )">
                Este campo es requerido.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="disableBasicInfoBtn" color="primary"
                    class="m-1">Enviar
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="submited" class="col-12 col-sm-7 mb-2 mb-sm-0 alert alert-success" role="alert">
      Su mensaje fue enviado correctamente.
    </div>
    <div class="col-12 col-sm-5"><!--sticky-top align-self-sm-start-->
      <mat-card>
        <mat-card-title>
          Otras opciones para contactarnos
        </mat-card-title>
        <mat-card-content>
          A través de los siguientes medios también te puedes poner en contacto con nosotros.
        </mat-card-content>
        <mat-card-subtitle>
          Correo electrónico
        </mat-card-subtitle>
        <mat-card-content>
          <span><i class="fas fa-envelope"></i> bridge_support@hotmail.com</span>
        </mat-card-content>
        <mat-card-subtitle>
          Número telefónico
        </mat-card-subtitle>
        <mat-card-content>
          <span><i class="fas fa-phone"></i> (449)-203-4422</span>
        </mat-card-content>
        <mat-card-subtitle>
          Redes sociales
        </mat-card-subtitle>
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <a mat-mini-fab matTooltip="Facebook" color="primary">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a mat-mini-fab matTooltip="Twitter" color="primary">
              <i class="fab fa-twitter"></i>
            </a>
            <a mat-mini-fab matTooltip="Instagram" color="primary">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--</mat-card>-->
</main>
