<main>
  <!--<mat-card class="container-fluid">-->
    <h3 class="text-center">{{title}}</h3>
    <div class="col-12 mb-2">
      <mat-card>
        <mat-card-title>
          ¿En que te podemos ayudar?
        </mat-card-title>
        <mat-card-content>
          Un experto de Bridge te pude ayudar con aspectos como:
          <ul>
            <li *ngFor="let aspecto of aspectos">{{aspecto.contenido}}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="d-block d-sm-flex justify-content-between">
      <div class="col-12 col-sm-7">
        <mat-card>
          <mat-card-title>
            Formulario de contacto
          </mat-card-title>
          <mat-card-content>
            Envíanos la siguiente información y recibirás una respuesta apropiada dentro de las próximas 24 horas.
            <form [formGroup]="basicInfo">
              <!--Nombre-->
              <mat-form-field class="col-12">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="basicInfo.get('name').errors?.required
                          &&( basicInfo.get('name').dirty || basicInfo.get('name').touched )">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="basicInfo.get('name').errors?.pattern
                          &&( basicInfo.get('name').dirty || basicInfo.get('name').touched )">
                  No parece ser un nombre válido.
                </mat-error>
              </mat-form-field>
              <!--Primer Apellido-->
              <mat-form-field class="col-12">
                <mat-label>Primer Apellido</mat-label>
                <input matInput formControlName="lastName1">
                <mat-error *ngIf="basicInfo.get('lastName1').errors?.required
                          &&( basicInfo.get('lastName1').dirty || basicInfo.get('lastName1').touched )">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="basicInfo.get('lastName1').errors?.pattern
                          &&( basicInfo.get('lastName1').dirty || basicInfo.get('lastName1').touched )">
                  No parece ser un apellido válido.
                </mat-error>
              </mat-form-field>
              <!--Segundo Apellido-->
              <mat-form-field class="col-12">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput formControlName="lastName2">
                <mat-error *ngIf="basicInfo.get('lastName2').errors?.pattern
                          &&( basicInfo.get('lastName2').dirty || basicInfo.get('lastName2').touched )">
                  No parece ser un apellido válido.
                </mat-error>
              </mat-form-field>
              <!--Teléfono-->
              <mat-form-field class="col-12">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="phone" type="text" [maxLength]="10">
                <mat-error *ngIf="basicInfo.get('phone').errors?.required
                          &&( basicInfo.get('phone').dirty || basicInfo.get('phone').touched )">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="basicInfo.get('phone').errors?.pattern
                          &&( basicInfo.get('phone').dirty || basicInfo.get('phone').touched )">
                  No parece ser un teléfono válido.
                </mat-error>
              </mat-form-field>
              <!--Correo-->
              <mat-form-field class="col-12">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="basicInfo.get('email').errors?.required
                          &&( basicInfo.get('email').dirty || basicInfo.get('email').touched )">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="basicInfo.get('email').errors?.email
                          &&( basicInfo.get('email').dirty || basicInfo.get('email').touched )">
                  No parece ser un correo válido.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-12">
                <mat-label>Mensaje</mat-label>
                <textarea matInput placeholder="Escribe aquí tus dudas, comentarios o aclaraciones" style="resize: none;" rows="5" formControlName="mensaje"></textarea>
                <mat-error *ngIf="basicInfo.get('mensaje').errors?.required
                          &&( basicInfo.get('mensaje').dirty || basicInfo.get('mensaje').touched )">
                  Este campo es requerido.
                </mat-error>
              </mat-form-field>
              <button mat-raised-button [disabled]="disableBasicInfoBtn" color="primary"
                      class="m-1">Enviar
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-5"><!--sticky-top align-self-sm-start-->
        <mat-card>
          <mat-card-title>
            Otras opciones para contactarnos
          </mat-card-title>
          <mat-card-content>
            A través de los siguientes medios también te puedes poner en contacto con nosotros.
          </mat-card-content>
          <mat-card-subtitle>
            Correo electrónico
          </mat-card-subtitle>
          <mat-card-content>
            <span><i class="fas fa-envelope"></i> bridge_support@hotmail.com</span>
          </mat-card-content>
          <mat-card-subtitle>
            Número telefónico
          </mat-card-subtitle>
          <mat-card-content>
            <span><i class="fas fa-phone"></i> (449)-203-4422</span>
          </mat-card-content>
          <mat-card-subtitle>
            Redes sociales
          </mat-card-subtitle>
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <a mat-mini-fab class="p-0 bg-light"
                 matTooltip="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a mat-mini-fab class="p-0 bg-light"
                 matTooltip="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a mat-mini-fab class="p-0 bg-light"
                 matTooltip="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  <!--</mat-card>-->
</main>
