<ngb-carousel *ngIf="imagenes" class="mb-3">
  <ng-template ngbSlide *ngFor="let imagen of imagenes">
    <img [src]="imagen.link" class="w-100" alt="Random first slide">
    <div class="carousel-caption">
      <h3 class="mat-title">{{imagen.titulo}}</h3>
      <p class="mat-headline">{{imagen.texto}}</p>
    </div>
  </ng-template>
</ngb-carousel>
<main>
  <mat-expansion-panel class="mb-5" hideToggle>
    <mat-expansion-panel-header
      style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; background: #0D47A1;">
      <mat-panel-title class="justify-content-center">
        <mat-card-title class="text-center text-white">Buscar <i class="fas fa-search"></i></mat-card-title>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="w-100 d-flex justify-content-center">
      <mat-spinner *ngIf="brandsState == 1" mode="indeterminate"></mat-spinner>
      <mat-error *ngIf="brandsState == 3" class="col-12 col-sm-6 col-xl-3 mt-3">Ha ocurrido un error, favor de intentarlo más tarde.</mat-error>
    </div>
    <form [formGroup]="searchForm" *ngIf="brandsState == 2" class="mt-4">
      <div class="row">
        <mat-form-field class="col-12 col-sm-6">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="brandIndex" (selectionChange)="getModels()">
            <mat-option value="">Ninguno</mat-option>
            <mat-option *ngFor="let brand of brands; let i = index" value="{{i}}">{{brand.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-content class="col-12 col-sm-6 d-flex justify-content-center" *ngIf="modelsState != 0 && modelsState != 2">
          <mat-spinner *ngIf="modelsState == 1" mode="indeterminate" diameter="50"></mat-spinner>
          <mat-error *ngIf="modelsState == 3" class="col-12 col-sm-6 col-xl-3 mt-3">Ha ocurrido un error, favor de intentarlo más tarde.</mat-error>
        </mat-card-content>
        <mat-form-field class="col-12 col-sm-6" *ngIf="modelsState == 0 || modelsState == 2">
          <mat-label>Modelo</mat-label>
          <mat-select formControlName="modelIndex">
            <mat-option value="">Ninguno</mat-option>
            <mat-option *ngFor="let model of models; let i = index" value="{{i}}">{{model.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6">
          <mat-label>Precio</mat-label>
          <mat-select formControlName="price">
            <mat-option value="">Ninguno</mat-option>
            <mat-option value="Menor o igual">Menor o igual a cierto precio</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="searchForm.get('price').value != ''" class="col-12 col-sm-6 d-inline-block">
          <mat-slider class="w-100"
                      color="primary"
                      [disabled]="searchForm.get('price').value == '' || carsState == 1"
                      thumbLabel
                      [displayWith]="formatLabel"
                      tickInterval="5000"
                      [min]="minimum"
                      [max]="maximum"
                      [(ngModel)]="price"
                      [ngModelOptions]="{standalone: true}"></mat-slider>
          <mat-hint class="w-100 d-flex justify-content-between">
            <span>
              {{ minimum | currency:'':'symbol':'.2-2'}}
            </span>
            <span>Precio: {{getRoundedValue(price) | currency:'':'symbol':'.2-2'}}</span>
            <span>
              {{ maximum | currency:'':'symbol':'.2-2'}}
            </span>
          </mat-hint>
        </div>
      </div>
    </form>
    <mat-action-row>
      <button mat-raised-button (click)="getCars()" color="primary" class="m-1" [disabled]="carsState == 1 || modelsState == 1">
        Buscar
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <h3 class="text-center mb-2 mat-headline">¿Que hay para ti?</h3>
  <mat-divider></mat-divider>
  <mat-card class="mt-3 mb-5 p-0">
    <div class="d-block d-sm-flex justify-content-between pt-3 pb-3 mb-4">
      <div class="col-12 col-sm-4">
        <div>
          <p class="text-muted text-center"><i class="fas fa-coins fa-5x"></i></p>
          <h5 class="text-center mat-subheading-1">¡Excelentes precios!</h5>
        </div>
        <div>
          <p class="text-justify mat-body-1">Contámos con precios accesibles que compiten con los precios del mercado,
            dichos precios corresponden adecuadamente al vehículo que se esta ofreciendo.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 border-right border-left">
        <div>
          <p class="text-muted text-center"><i class="fas fa-tasks fa-5x"></i></p>
          <h5 class="text-center mat-subheading-1">¡La mejor calidad!</h5>
        </div>
        <div>
          <p class="text-justify mat-body-1">Estamos seguro de que no quedaras decepcionado. Los vehículos que se
            ofrecen en el sitio son de excelente calidad y se encuentran en buenas condiciones.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div>
          <p class="text-muted text-center"><i class="fas fa-thumbs-up fa-5x"></i></p>
          <h5 class="text-center mat-subheading-1">¡Seguridad!</h5>
        </div>
        <div>
          <p class="text-justify mat-body-1">Siempre buscamos que tengas seguridad a la hora de la adquisición de un
            vehículo por lo que monitoreamos las ventas para asegurar la entrega de la compra.</p>
        </div>
      </div>
    </div>
  </mat-card>
  <h3 class="text-center mb-2 mat-headline">¡Tenemos opciones de entrega!</h3>
  <mat-divider></mat-divider>
  <mat-card class="container-fluid p-0 mt-3 mb-5">
    <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
      <mat-tab>
        <ng-template mat-tab-label>
          El vendedor lo entrega
        </ng-template>
        <div class="d-block d-flex justify-content-center mt-2">
          <div class="col-5 text-center">
            <i class="fas fa-handshake fa-10x text-muted"></i>
          </div>
          <div class="col-5">
            <h4>Entre el vendedor y tu determinan la entrega</h4>
            <p class="text-justify mat-body-1">
              Cuando se realice una compra se da la posibilidad para que elijas ponerte de acuerdo directamente con el
              vendedor del vehículo que has adquirido el lugar y la fecha para llevar a cabo la entrega de este, ya que
              te proporcionaremos un chat en el sitio para que te puedas poner en contacto con el vendedor y lleguen a
              un acuerdo de manera sencilla y rápida.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Nosotros lo entregamos
        </ng-template>
        <div class="d-block d-flex justify-content-center mt-2">
          <div class="col-5 text-center">
            <i class="fas fa-truck-moving fa-10x text-muted"></i>
          </div>
          <div class="col-5">
            <h4>Nuestros proveedores te lo entregan</h4>
            <p class="text-justify mat-body-1">
              Cuando se realice una compra se da la posibilidad para que elijas que el vehículo que has adquirido se te
              sea entregado por medio de alguno de los proveedores de entrega con los que el sitio esta asociado, lo
              cual tiene un costo extra, pero existe una garantía de que el vehículo sea entregado en cierta cantidad de
              días hábiles, dependiendo del proveedor elegido.
            </p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <h3 class="text-center mb-2 mat-headline">¡Esto es lo más nuevo!</h3>
  <mat-divider></mat-divider>
  <div *ngIf="carsState != 2" class="w-100 d-flex justify-content-center mt-3 mb-2">
    <mat-spinner *ngIf="carsState == 1" mode="indeterminate"></mat-spinner>
    <mat-hint *ngIf="carsState == 3" class="col-12 col-sm-6">Actualmente no se cuenta con autos para la venta.</mat-hint>
  </div>
  <div class="row mt-3" *ngIf="carsState == 2">
    <app-car-card class="col-4 mb-2" *ngFor="let car of cars" [car]="car"></app-car-card>
  </div>
</main>
