<h3 class="col-lg-6 col-sm-12 mat-headline">{{title}}</h3>
<input type="file" (change)="onFileSelected($event)" class="col-lg-6 col-sm-12 mb-1" id="image">
<div class="col-12 my-3">
  <div class="row mx-1">
    <button mat-raised-button type="button" [disabled]="disableBtn || imageState == 1" (click)="onUpload()" color="primary" class="mr-2">Actualizar</button>
    <mat-spinner *ngIf="imageState == 1" mode="indeterminate" diameter="50"></mat-spinner>
    <mat-hint *ngIf="imageState == 2" class="col-12 col-sm-6 col-xl-3 mt-3">Dirección actualizada satisfactoriamente.</mat-hint>
    <mat-error *ngIf="imageState == 3" class="col-12 col-sm-6 col-xl-3 mt-3">Ha ocurrido un error, favor de intentarlo más tarde.</mat-error>
  </div>
</div>
