<h3 class="col-lg-6 col-sm-12">Cambiar Contraseña</h3>
<form [formGroup]="form" (ngSubmit)="update()">
  <mat-form-field class="col-lg-6 col-sm-12 mb-1">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput formControlName="newPassword" type="password">
    <mat-error *ngIf="form.get('newPassword').errors?.minlength
                          &&( form.get('newPassword').dirty || form.get('newPassword').touched )">
      La contraseña es demasiado corta.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-lg-6 col-sm-12 mb-1">
    <mat-label>Verificar contraseña</mat-label>
    <input matInput formControlName="passwordVerification" type="password">
    <mat-error *ngIf="form.controls['passwordVerification'].errors?.notEqual
                        &&( form.controls['passwordVerification'].dirty || form.controls['passwordVerification'].touched )"
               class="invalid-feedback d-block">
      Los campos no coinciden.
    </mat-error>
  </mat-form-field>
  <div class="col-12 my-3">
    <div class="row mx-1">
      <button mat-raised-button [disabled]="disableBtn" color="primary">Actualizar</button>
    </div>
  </div>
</form>
