<h3 class="col-lg-6 col-sm-12 mat-headline">{{title}}</h3>
<form [formGroup]="form">
  <mat-form-field class="col-lg-6 col-sm-12 mb-1">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput formControlName="newPassword" type="password">
    <mat-error *ngIf="form.get('newPassword').errors?.minlength
                          &&( form.get('newPassword').dirty || form.get('newPassword').touched )">
      La contraseña es demasiado corta.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-lg-6 col-sm-12 mb-1">
    <mat-label>Verificar nueva contraseña</mat-label>
    <input matInput formControlName="passwordVerification" type="password">
    <mat-error *ngIf="form.controls['passwordVerification'].errors?.notEqual
                        &&( form.controls['passwordVerification'].dirty || form.controls['passwordVerification'].touched )"
               class="invalid-feedback d-block">
      Los campos no coinciden.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-lg-6 col-sm-12 mb-1">
    <mat-label>Contraseña actual</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error *ngIf="form.get('password').errors?.required
                          &&( form.get('password').dirty || form.get('password').touched )">
      Este campo es requerido.
    </mat-error>
    <mat-error *ngIf="form.get('password').errors?.minlength
                          &&( form.get('password').dirty || form.get('password').touched )">
      La contraseña es demasiado corta.
    </mat-error>
  </mat-form-field>
  <div class="col-12 my-3">
    <div class="row mx-1">
      <button mat-raised-button type="button" [disabled]="disableBtn || passwordState == 1" color="primary" (click)="update()" class="mr-2">Actualizar</button>
      <mat-spinner *ngIf="passwordState == 1" mode="indeterminate" diameter="50"></mat-spinner>
      <mat-hint *ngIf="passwordState == 2" class="col-12 col-sm-6 col-xl-3 mt-3">Dirección actualizada satisfactoriamente.</mat-hint>
      <mat-error *ngIf="passwordState == 3" class="col-12 col-sm-6 col-xl-3 mt-3">Ha ocurrido un error, favor de intentarlo más tarde.</mat-error>
    </div>
  </div>
</form>
