<div (mouseover)="mostrarVerMas()" (mouseleave)="quitarVerMas()">
  <mat-card class="card-characteristics p-0">
    <mat-card-content class="position-relative">
      <div id="verMas{{car._id}}" class="position-absolute w-100 m-0 pt-0 pr-2 pl-2 animated animated-2x"
           style="top: 10px; opacity: 0">
        <a mat-button mat-mini-fab color="primary" class="float-left"><i id="wishList" class="far fa-heart"></i></a>
        <a mat-button mat-raised-button color="primary" class="float-right" [routerLink]="'/articulo/' + car._id">Ver más <i
          class="far fa-eye"></i></a>
      </div>
      <div class="position-absolute w-100 m-0 p-0" style="bottom: 0; background: #000; opacity: 0.7; color: #FFF;">
        <h5 class="text-center">{{car.modelo.nombre}}, {{car.modelo.marca.nombre}}</h5> <!-- {{car.modelo.nombre}} {{car.anio}}, {{car.marca}}-->
      </div>
      <img class="mb-0 w-100" style="border-top-left-radius: 5px; border-top-right-radius: 5px"
           [src]="car.imagenes[0]" alt="Foto del vehículo">
    </mat-card-content>
  </mat-card>
  <mat-card class="card-characteristics p-2" style="border-top-left-radius: 0; border-top-right-radius: 0px;">
    <mat-card-content class="">
      <div class="w-100 d-flex mb-2">
        <span class="col-6 d-block pl-0 pr-1"><i class="fas fa-money-bill-wave"></i> {{car.precio | currency:'MXN':'symbol':'.2-2'}}</span>
        <span class="col-6 d-block pl-1 pr-0"><i class="fas fa-tint" [ngStyle]="{'color': car.colorExterior}"></i> Color exterior</span>
      </div>
      <div class="w-100 d-flex">
        <span class="col-6 d-block pl-0 pr-1"><i class="fas fa-car"></i> {{car.transmision === 0 ? 'Automático' : 'Estándar'}}</span>
        <span class="col-6 d-block pl-1 pr-0"><i class="fas fa-road"></i> {{car.kilometraje | number}} Kms.</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
