<div (mouseover)="mostrarVerMas()" (mouseleave)="quitarVerMas()">
  <mat-card class="card-characteristics p-0">
    <mat-card-content class="position-relative">
      <div id="verMas{{vehiculo.id}}" class="position-absolute w-100 m-0 pt-0 pr-2 pl-2 animated animated-2x"
           style="top: 10px; opacity: 0">
        <a mat-button mat-mini-fab color="primary" class="float-left"><i id="wishList" class="far fa-heart"></i></a>
        <a mat-button mat-raised-button color="primary" class="float-right" [routerLink]="'/articulo'">Ver más <i
          class="far fa-eye"></i></a>
      </div>
      <div class="position-absolute w-100 m-0 p-0" style="bottom: 0; background: #000; opacity: 0.7; color: #FFF;">
        <h5 class="text-center">{{vehiculo.modelo}} {{vehiculo.anio}}, {{vehiculo.marca}}</h5>
      </div>
      <img class="mb-0 w-100" style="border-top-left-radius: 5px; border-top-right-radius: 5px"
           [src]="vehiculo.imagenVehiculo" alt="Foto del vehículo">
    </mat-card-content>
  </mat-card>
  <mat-card class="card-characteristics p-2" style="border-top-left-radius: 0; border-top-right-radius: 0px;">
    <mat-card-content class="">
      <div class="w-100 d-flex mb-2">
        <span class="col-6 d-block pl-0 pr-1"><i
          class="fas fa-money-bill-wave"></i> {{vehiculo.precio | currency:'':'symbol':'.2-2'}}</span>
        <span class="col-6 d-block pl-1 pr-0"><i class="fas fa-tint"></i> {{vehiculo.color}}</span>
      </div>
      <div class="w-100 d-flex">
        <span class="col-6 d-block pl-0 pr-1"><i *ngIf="vehiculo.estado == 'Nuevo'" class="fas fa-user-check"></i><i
          *ngIf="vehiculo.estado == 'Usado'" class="fas fa-user"></i> {{vehiculo.estado}}</span>
        <span class="col-6 d-block pl-1 pr-0"><i class="fas fa-road"></i> {{vehiculo.kilometraje | number}} Kms.</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
