<h3 class="text-center mat-title">
  {{ title }}
</h3>
<mat-card class="container-fluid mb-2">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Marcas</span><a class="mat-button" mat-stroked-button color="primary" (click)="brandConfiguration()">Configurar <i class="fas fa-tools"></i></a></h5>
  </mat-card-content>
</mat-card>
<mat-card class="container-fluid mb-2">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Modelos</span><a class="mat-button" mat-stroked-button color="primary" (click)="modelConfiguration()">Configurar <i class="fas fa-tools"></i></a></h5>
  </mat-card-content>
</mat-card>
<mat-card class="container-fluid mb-2">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Proveedores de envío</span><a class="mat-button" mat-stroked-button color="primary" (click)="providerConfiguration()">Configurar <i class="fas fa-tools"></i></a></h5>
  </mat-card-content>
</mat-card>
<mat-card class="container-fluid mb-2">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Reporte de marcas</span><a class="mat-button" mat-stroked-button color="primary" (click)="brandReport()">Revisar <i class="fas fa-chart-pie"></i></a></h5>
  </mat-card-content>
</mat-card>
<mat-card class="container-fluid mb-2">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Reporte de modelos</span><a class="mat-button" mat-stroked-button color="primary" (click)="modelReport()">Revisar <i class="fas fa-chart-pie"></i></a></h5>
  </mat-card-content>
</mat-card>
<mat-card class="container-fluid">
  <mat-card-content class="d-block w-100">
    <h5 class="w-100 d-flex justify-content-between align-content-center"><span class="align-self-center">Reporte por fecha</span><a class="mat-button" mat-stroked-button color="primary" (click)="dateReport()">Revisar <i class="fas fa-chart-bar"></i></a></h5>
  </mat-card-content>
</mat-card>
