<span class="text-warning">
  <i [ngClass]="califiacion<0.5 ? 'far fa-star' : califiacion<1 ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>
  <i [ngClass]="califiacion<1.5 ? 'far fa-star' : califiacion<2 ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>
  <i [ngClass]="califiacion<2.5 ? 'far fa-star' : califiacion<3 ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>
  <i [ngClass]="califiacion<3.5 ? 'far fa-star' : califiacion<4 ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>
  <i [ngClass]="califiacion<4.5 ? 'far fa-star' : califiacion<5 ? 'fas fa-star-half-alt' : 'fas fa-star'"></i>
</span>
