<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [ngClass]="{hidden: !(isHandset$ | async)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar color="secondary">Bridge</mat-toolbar>
    <app-nav-links></app-nav-links>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><i class="fas fa-bars fa-lg"></i></mat-icon>
      </button>
      <app-top-nav [ngClass]="{hidden: (isHandset$ | async)}"></app-top-nav>
      <span class="spacer"></span>
      <a mat-button [ngClass]="{hidden: !(isAdmin | async)}" [routerLink]="['/administracion']" routerLinkActive="mat-primary" class="mr-3">
        <i class="far fa-lg fa-chart-bar"></i>
      </a>
      <app-user-menu [ngClass]="{hidden: !(isLoggedIn$ | async)}" class="mx-1"></app-user-menu>
      <app-unsigned-user-menu [ngClass]="{hidden: (isLoggedIn$ | async)}" class="mx-1"></app-unsigned-user-menu>
      <i class="far fa-lg" [ngClass]="{'fa-sun': lightsOn === true, 'fa-moon': lightsOn === false }"></i>
      <mat-slide-toggle color="primary" [checked]="lightsOn" (change)="onSetTheme()" class="ml-3"></mat-slide-toggle>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
