<main>
  <div class="row mb-2">
    <div class="col-sm-7 col-12">
      <mat-card class="p-0">
        <mat-card-content class="position-relative">
          <div class="position-absolute w-100 m-0 p-0" style="bottom: 0; background: #000; opacity: 0.7; color: #FFF;">
            <div class="pt-2 pb-2 d-flex justify-content-between">
              <div class="col-2 text-center align-self-center">
                <a *ngIf="carrouselImagen > 0" mat-icon-button (click)="carrouselImagen = carrouselImagen - 1"><i
                  class="fas fa-chevron-left fa-2x"></i></a>
              </div>
              <div class="col-2" *ngFor="let imagen of vehiculo.imagenesVehiculo; let i = index"
                   [ngClass]="vehiculo.imagenesVehiculo.length > 4 ? ((i-carrouselImagen >= 0 && i-carrouselImagen <= 3) ? '' : 'd-none') : ''">
                <img [src]="imagen" alt="Foto del vehículo" style="width: 100%; height: auto"
                     class="imagenHover animated animated-slow" (click)="posicionImagen = i">
              </div>
              <div class="col-2 text-center align-self-center">
                <a *ngIf="(vehiculo.imagenesVehiculo.length - (carrouselImagen + 1)) >= 4"
                   (click)="carrouselImagen = carrouselImagen + 1" mat-icon-button><i
                  class="fas fa-chevron-right fa-2x"></i></a>
              </div>
            </div>
          </div>
          <img class="w-100" style="border-radius: 5px 5px" [src]="vehiculo.imagenesVehiculo[posicionImagen]"
               alt="Foto del vehículo">
        </mat-card-content>
      </mat-card>
      <div class="mt-4">
        <mat-card class="p-0 rounded" style=" border-radius: 5px">
          <!--<mat-card-header>
            <mat-card-title><h3><i class="fas fa-comments"></i> Comentarios</h3></mat-card-title>
          </mat-card-header>-->
          <mat-tab-group backgroundColor="primary" mat-align-tabs="center" style=" border-radius: 5px">
            <!--<mat-tab label="Descripción">
              <mat-list>
              </mat-list>
            </mat-tab>-->
            <mat-tab label="Especificaciones">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Transmision</span>
                    <span>{{vehiculo.transmision}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Motor</span>
                    <span>{{vehiculo.tipo_motor}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Control de estabilidad</span>
                    <span *ngIf="vehiculo.control_de_estabilidad">Si</span>
                    <span *ngIf="!vehiculo.control_de_estabilidad">No</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Seguridad">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire para el piloto</span>
                    <span>{{vehiculo.bolsas_de_aire_piloto}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire para el pasajero</span>
                    <span>{{vehiculo.bolsas_de_aire_pasajero}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire laterales</span>
                    <span>{{vehiculo.bolsas_de_aire_laterales}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Seguro de niños</span>
                    <span *ngIf="vehiculo.seguro_de_ninios">Si</span>
                    <span *ngIf="!vehiculo.seguro_de_ninios">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Alarma</span>
                    <span *ngIf="vehiculo.alarma">Si</span>
                    <span *ngIf="!vehiculo.alarma">No</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Extras">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bluetooth</span>
                    <span *ngIf="vehiculo.bluetooth">Si</span>
                    <span *ngIf="!vehiculo.bluetooth">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Cámara trasera</span>
                    <span *ngIf="vehiculo.camara_trasera">Si</span>
                    <span *ngIf="!vehiculo.camara_trasera">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Sensores frontales</span>
                    <span *ngIf="vehiculo.sensor_frontal">Si</span>
                    <span *ngIf="!vehiculo.sensor_frontal">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Sensores traseros</span>
                    <span *ngIf="vehiculo.sensor_trasero">Si</span>
                    <span *ngIf="!vehiculo.sensor_trasero">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Puertas eléctricas</span>
                    <span *ngIf="vehiculo.puertas_electricas">Si</span>
                    <span *ngIf="!vehiculo.puertas_electricas">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Vidrios eléctricos</span>
                    <span *ngIf="vehiculo.vidrios_electricos">Si</span>
                    <span *ngIf="!vehiculo.vidrios_electricos">No</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Aire acondicionado</span>
                    <span *ngIf="vehiculo.aire_acondicionado">Si</span>
                    <span *ngIf="!vehiculo.aire_acondicionado">No</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <i class="fas fa-child"></i>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-5 col-12 sticky-top align-self-sm-start mt-sm-0 mt-2" style="top: 10px;">
      <mat-card class="pb-0">
        <mat-card-header>
          <mat-card-title><h1>{{vehiculo.modelo}} {{vehiculo.anio}}</h1></mat-card-title>
          <mat-card-subtitle><h2>{{vehiculo.marca}}</h2></mat-card-subtitle>
          <mat-card-title><h3>{{vehiculo.precio | currency:'':'symbol':'.2-2'}}</h3></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-header class="p-2">
          <img mat-card-avatar [src]="vehiculo.imagenVendedor" alt="Foto del vendedor">
          <mat-card-title class="mb-1">{{vehiculo.vendedor}}</mat-card-title>
          <mat-card-subtitle class="mb-1"><span *ngIf="vehiculo.calificacion == null">Sin calificación</span><span
            *ngIf="vehiculo.calificacion != null"><app-qualification
            [califiacion]="vehiculo.calificacion"></app-qualification></span></mat-card-subtitle>
          <!--<mat-card-subtitle class="mb-0"><app-qualification [califiacion]="comentario.calificacion"></app-qualification></mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p>
            {{vehiculo.descripcion}}
          </p>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-0 pr-1"><i *ngIf="vehiculo.estado == 'Nuevo'" class="fas fa-user-check"></i><i
              *ngIf="vehiculo.estado == 'Usado'" class="fas fa-user"></i> {{vehiculo.estado}}</span>
            <span class="col-6 d-block pl-1 pr-"><i class="fas fa-flag"></i><span *ngIf="vehiculo.extranjero"> Extranjero</span><span
              *ngIf="!vehiculo.extranjero"> Nacional</span></span>
          </div>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-0 pr-1"><i class="fas fa-road"></i> {{vehiculo.kilometraje | number}}
              Kms.</span>
            <span class="col-6 d-block pl-1 pr-0"><i
              class="fas fa-tint"></i> Color exterior: {{vehiculo.color_exterior}}</span>
          </div>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-0 pr-1"><i
              class="fas fa-tint"></i> Color interior: {{vehiculo.color_interior}}</span>
            <span class="col-6 d-block pl-1 pr-0"><i
              class="fas fa-couch"></i> Interiores: {{vehiculo.interiores}}</span>
          </div>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-0 pr-1"><i
              class="fas fa-users"></i> Total de dueños: {{vehiculo.total_duenios}}</span>
            <span class="col-6 d-block pl-1 pr-0"><i
              class="fas fa-car-crash"></i> Total de accidentes: {{vehiculo.total_accidentes}}</span>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content class="pt-2 pb-2">
          <div class="d-flex justify-content-between">
            <a (mouseover)="mostrarIcono()" (mouseleave)="ocultarIcono()" id="verMas{{vehiculo.id}}" mat-button
               mat-mini-fab color="primary" class="float-right"><i id="wishList" class="far fa-heart"></i></a>
            <a mat-button mat-raised-button color="accent" class="float-left" [routerLink]="'/pago'">Comprar <i
              class="fas fa-money-bill-wave"></i></a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="w-100">
    <mat-card class="pb-0">
      <mat-card-header>
        <mat-card-title><h3><i class="fas fa-comments"></i> Comentarios</h3></mat-card-title>
      </mat-card-header>
      <div *ngIf="vehiculo.comentarios.length == 0">
        <mat-divider></mat-divider>
        <mat-card-content class="p-2">
          <p>
            Este vehículo no cuenta con comentarios por el momento.
          </p>
        </mat-card-content>
      </div>
      <div *ngFor="let comentario of vehiculo.comentarios; let i = index">
        <mat-divider></mat-divider>
        <div class="p-2">
          <mat-card-header>
            <img mat-card-avatar [src]="comentario.imagen" alt="Foto del vendedor">
            <mat-card-title class="mb-1">{{comentario.nombre}}</mat-card-title>
            <mat-card-subtitle class="mb-1">{{comentario.comentario}}</mat-card-subtitle>
            <!--<mat-card-subtitle class="mb-0"><app-qualification [califiacion]="comentario.calificacion"></app-qualification></mat-card-subtitle>-->
          </mat-card-header>
          <mat-card-actions *ngIf="comentario.id == id" class="m-0 p-0 d-flex justify-content-end">
            <button mat-raised-button color="warn">Eliminar <i class="fas fa-trash-alt"></i></button>
          </mat-card-actions>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-card-content class="p-2">
          <form [formGroup]="formularioComentario">
            <mat-form-field class="col-12">
              <mat-label>Comentario</mat-label>
              <textarea matInput placeholder="Deja tu comentario" style="resize: none;" rows="5"
                        formControlName="comentario"></textarea>
              <mat-error *ngIf="formularioComentario.get('comentario').errors?.required
                          &&( formularioComentario.get('comentario').dirty || formularioComentario.get('comentario').touched)">
                Este campo es requerido.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="deshabilitarBotonComentario" color="primary"
                    class="m-1">Enviar <i class="fas fa-check"></i>
            </button>
          </form>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</main>
<!--


• fecha_publicacion:
-->
