<main>
  <h3 *ngIf="carState == 1 || carState == 3" class="text-center mat-title">{{title}}</h3>
  <mat-card *ngIf="carState == 1" class="mb-4 d-flex justify-content-center">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </mat-card>
  <mat-card *ngIf="carState == 3" class="container-fluid p-5 mb-4">
    <div class="example-button-row d-flex justify-content-center mb-2">
      <mat-error>No se encontró el auto solicitado, favor de solicitar otro auto.</mat-error>
    </div>
    <div class="example-button-row d-flex justify-content-center">
      <button mat-stroked-button color="primary" [routerLink]="'/catalogo'" class="mr-2">Ir a catálogo</button>
    </div>
  </mat-card>
  <div class="row mb-2" *ngIf="carState == 2">
    <div class="col-sm-7 col-12">
      <mat-card class="p-0">
        <mat-card-content class="position-relative">
          <!--<div class="position-absolute w-100 m-0 p-0" style="bottom: 0; background: #000; opacity: 0.7; color: #FFF;">
            <div class="pt-2 pb-2 d-flex justify-content-between">
              <div class="col-2 text-center align-self-center">
                <a *ngIf="carrouselImagen > 0" mat-icon-button (click)="carrouselImagen = carrouselImagen - 1"><i
                  class="fas fa-chevron-left fa-2x"></i></a>
              </div>
              <div class="col-2" *ngFor="let imagen of vehiculo.imagenesVehiculo; let i = index"
                   [ngClass]="vehiculo.imagenesVehiculo.length > 4 ? ((i-carrouselImagen >= 0 && i-carrouselImagen <= 3) ? '' : 'd-none') : ''">
                <img [src]="imagen" alt="Foto del vehículo" style="width: 100%; height: auto"
                     class="imagenHover animated animated-slow" (click)="posicionImagen = i">
              </div>
              <div class="col-2 text-center align-self-center">
                <a *ngIf="(vehiculo.imagenesVehiculo.length - (carrouselImagen + 1)) >= 4"
                   (click)="carrouselImagen = carrouselImagen + 1" mat-icon-button><i
                  class="fas fa-chevron-right fa-2x"></i></a>
              </div>
            </div>
          </div>-->
          <img class="w-100" style="border-radius: 5px 5px" [src]="car.imagenes[0]"
               alt="Foto del vehículo">
        </mat-card-content>
      </mat-card>
      <div class="mt-4">
        <mat-card class="p-0 rounded" style=" border-radius: 5px">
          <!--<mat-card-header>
            <mat-card-title><h3><i class="fas fa-comments"></i> Comentarios</h3></mat-card-title>
          </mat-card-header>-->
          <mat-tab-group backgroundColor="primary" mat-align-tabs="center" style=" border-radius: 5px">
            <!--<mat-tab label="Descripción">
              <mat-list>
              </mat-list>
            </mat-tab>-->
            <mat-tab label="Especificaciones">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Transmision</span>
                    <span>{{car.transmision == 0 ? 'Automática' : 'Estándar'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Motor</span>
                    <span>{{car.tipoMotor}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Control de estabilidad</span>
                    <span>{{car.controlDeEstabilidad ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Seguridad">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire para el piloto</span>
                    <span>{{car.bolsasDeAirePiloto ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire para el pasajero</span>
                    <span>{{car.bolsasDeAirePasajero ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bolsas de aire laterales</span>
                    <span>{{car.bolsasDeAireLaterales ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Seguro de niños</span>
                    <span>{{car.seguroDeNinos ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Alarma</span>
                    <span>{{car.alarma ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Extras">
              <mat-list>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Bluetooth</span>
                    <span>{{car.bluetooth ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Cámara trasera</span>
                    <span>{{car.camaraTrasera ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Sensor frontal</span>
                    <span>{{car.sensorFrontal ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Sensor trasero</span>
                    <span>{{car.sensorTrasero ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Puertas eléctricas</span>
                    <span>{{car.puertasElectricas ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Vidrios eléctricos</span>
                    <span>{{car.vidriosElectricos ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="w-100">
                  <div class="d-flex justify-content-between w-100">
                    <span>Aire acondicionado</span>
                    <span>{{car.aireAcondicionado ? 'Si' : 'No'}}</span>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <i class="fas fa-child"></i>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-5 col-12 sticky-top align-self-sm-start mt-sm-0 mt-2" style="top: 10px;">
      <mat-card class="pb-0">
        <mat-card-header>
          <mat-card-title><h1>{{car.modelo.nombre}}</h1></mat-card-title>
          <mat-card-subtitle><h2>{{car.modelo.marca.nombre}}</h2></mat-card-subtitle>
          <mat-card-title><h3>{{car.precio | currency:'':'symbol':'.2-2'}}</h3></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-header class="p-2">
          <img mat-card-avatar [src]="vehiculo.imagenVendedor" alt="Foto del vendedor">
          <mat-card-title class="mb-1">{{vehiculo.vendedor}}</mat-card-title>
          <mat-card-subtitle class="mb-1"><span *ngIf="vehiculo.calificacion == null">Sin calificación</span><span
            *ngIf="vehiculo.calificacion != null"><app-qualification
            [califiacion]="vehiculo.calificacion"></app-qualification></span></mat-card-subtitle>
          <!--<mat-card-subtitle class="mb-0"><app-qualification [califiacion]="comentario.calificacion"></app-qualification></mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p>
            {{vehiculo.descripcion}}
          </p>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-1 pr-"><i class="fas fa-flag"></i> {{car.extranjero ? 'Extranjero': 'Nacional'}}</span>
            <span class="col-6 d-block pl-0 pr-1"><i class="fas fa-road"></i> {{vehiculo.kilometraje | number}} Kms.</span>
          </div>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-1 pr-0"><i
              class="fas fa-tint"></i> Color exterior: {{car.colorExterior}}</span>
            <span class="col-6 d-block pl-0 pr-1"><i
              class="fas fa-tint"></i> Color interior: {{car.colorInterior}}</span>
          </div>
          <div class="w-100 d-flex mb-2">
            <span class="col-6 d-block pl-0 pr-1"><i
              class="fas fa-users"></i> Total de dueños: {{car.totalDuenos}}</span>
            <span class="col-6 d-block pl-1 pr-0"><i
              class="fas fa-car-crash"></i> Total de accidentes: {{car.totalAccidentes}}</span>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content class="pt-2 pb-2">
          <div class="d-flex justify-content-between">
            <a (mouseover)="mostrarIcono()" (mouseleave)="ocultarIcono()" mat-button
               mat-mini-fab color="primary" class="float-right"><i id="wishList" class="far fa-heart"></i></a>
            <a mat-button mat-raised-button color="accent" class="float-left" [routerLink]="'/pago'">Comprar <i
              class="fas fa-money-bill-wave"></i></a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="w-100" *ngIf="carState == 2">
    <mat-card class="pb-0">
      <mat-card-header>
        <mat-card-title><h3><i class="fas fa-comments"></i> Comentarios</h3></mat-card-title>
      </mat-card-header>
      <div *ngIf="vehiculo.comentarios.length == 0">
        <mat-divider></mat-divider>
        <mat-card-content class="p-2">
          <p>
            Este vehículo no cuenta con comentarios por el momento.
          </p>
        </mat-card-content>
      </div>
      <div *ngFor="let comentario of vehiculo.comentarios; let i = index">
        <mat-divider></mat-divider>
        <div class="p-2">
          <mat-card-header>
            <img mat-card-avatar [src]="comentario.imagen" alt="Foto del vendedor">
            <mat-card-title class="mb-1">{{comentario.nombre}}</mat-card-title>
            <mat-card-subtitle class="mb-1">{{comentario.comentario}}</mat-card-subtitle>
            <!--<mat-card-subtitle class="mb-0"><app-qualification [califiacion]="comentario.calificacion"></app-qualification></mat-card-subtitle>-->
          </mat-card-header>
          <mat-card-actions *ngIf="comentario.id == id" class="m-0 p-0 d-flex justify-content-end">
            <button mat-raised-button color="warn">Eliminar <i class="fas fa-trash-alt"></i></button>
          </mat-card-actions>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-card-content class="p-2">
          <form [formGroup]="formularioComentario">
            <mat-form-field class="col-12">
              <mat-label>Comentario</mat-label>
              <textarea matInput placeholder="Deja tu comentario" style="resize: none;" rows="5"
                        formControlName="comentario"></textarea>
              <mat-error *ngIf="formularioComentario.get('comentario').errors?.required
                          &&( formularioComentario.get('comentario').dirty || formularioComentario.get('comentario').touched)">
                Este campo es requerido.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="deshabilitarBotonComentario" color="primary"
                    class="m-1">Enviar <i class="fas fa-check"></i>
            </button>
          </form>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</main>
<!--


• fecha_publicacion:
-->
