<main>
  <div class="container-fluid">
    <div class="row">
      <!-- Formulario de pago -->
      <div class="col-12 order-1 col-lg-8 order-lg-0 mb-2">
        <mat-card class="container-fluid">
          <mat-card-header class="row">
            <h3 class="col-12">Formulario de Pago</h3>
          </mat-card-header>
          <mat-card-content class="row">
            <app-payment-form></app-payment-form>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Resumen de compra -->
      <div class="col-12 order-0 col-lg-4 order-lg-1 mb-2">
        <mat-card>
          <mat-card-header class="row">
            <h3 class="col-12">Resumen de compra</h3>
          </mat-card-header>
          <app-summary></app-summary>
        </mat-card>
      </div>
    </div>
  </div>
</main>
