<mat-toolbar class="h-auto d-block pt-2 pb-1 mt-4 text-white">
  <div class="d-block d-sm-flex justify-content-center mt-5 mb-3">
    <div class="col-sm-5 col-12 text-center">
      <img src="../../../../assets/footer/Logo.png" alt="" style="width: 50%; height: auto;">
      <!--<div>
        <small>"El carro perfecto a la puerta de tu casa"</small>
      </div>-->
    </div>
    <div class="col-sm-7 col-12 d-block">
      <div class="d-block d-sm-flex justify-content-center">
        <div class="col-sm-6 col-12">
          <h5>Contáctanos</h5>
          <mat-card-content class="mb-0">
            <span><i class="fas fa-phone"></i> (449)-203-4422</span>
          </mat-card-content>
          <mat-card-content>
            <span><i class="fas fa-envelope"></i> bridge_support@hotmail.com</span>
          </mat-card-content>
        </div>
        <div class="col-sm-6 col-12">
          <h5>Síguenos en redes sociales</h5>
          <div>
          <span class="d-flex justify-content-start w-100">
            <a mat-mini-fab class="mr-2 p-0" color="primary"
               matTooltip="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a mat-mini-fab class="ml-2 mr-2 p-0" color="primary"
               matTooltip="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a mat-mini-fab class="ml-2 mr-2 p-0" color="primary"
               matTooltip="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="bg-white"></mat-divider>
  <!--<div class="d-flex justify-content-center">
    <div *ngFor="let link of navLinks; let i = index">
      <span *ngIf="i != 0">|</span>
      <a mat-button [routerLink]="link.ruta" color="primary">
        {{ link.nombre }}
      </a>
    </div>
  </div>-->
  <div class="col-12 text-center">
    <small>Copyright © 2019 Bridge</small>
  </div>
</mat-toolbar>
