/*
*   Angular Material
*/
@import '~@angular/material/theming';

@include mat-core();

// Tipografía.
$custom-typography: mat-typography-config(
  // $font-family: Lato,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

$app-primary: mat-palette($mat-blue, 900);

// Tema predeterminado.
$app-accent: mat-palette($mat-green, 700);
$app-warn: mat-palette($mat-red);
$app-default: mat-light-theme($app-primary, $app-accent, $app-warn);
.default-theme {
  @include angular-material-theme($app-default);
}

// Tema de accesibilidad.
$app-tritanerope-accent: mat-palette($mat-light-blue, 400);
$app-tritanerope-warn: mat-palette($mat-pink, A400);
$app-tritanerope: mat-light-theme($app-primary, $app-tritanerope-accent, $app-tritanerope-warn);
.tritanerope-theme {
  @include angular-material-theme($app-tritanerope);
}

@include angular-material-theme($app-default);

/*
*   Bootstrap
*/

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap';

/*
*    CSS Regular
*/

html, body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  padding: 15px 10%;
}

button:focus {
  outline: none !important;
  border: none !important;
}

// Imagen redonda.
.avatar {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
}

// Espaciado para elementos del navbar.
.spacer {
  flex: 1 1 auto;
}

@media screen and (min-width: 576px) {
  html {
    font-size: .75rem;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 1rem;
  }
}

// Animaciones
.animated{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-2x {
  animation-duration: .5s;
}
.animated-3x {
  animation-duration: .25s;
}
.animated-slow {
  animation-duration: 4s;
}
