<main>
  <h3 class="text-center mat-title">{{ title }}</h3>
  <mat-card class="container-fluid">
    <mat-card-content class="row">
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field class="col-lg-6 col-sm-12 mb-1">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email').errors?.required
                          &&( form.get('email').dirty || form.get('email').touched )">
            Este campo es requerido.
          </mat-error>
          <mat-error *ngIf="form.get('email').errors?.email
                          &&( form.get('email').dirty || form.get('email').touched )">
            No parece ser un correo válido.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-sm-12 mb-1">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="form.get('password').errors?.required
                          &&( form.get('password').dirty || form.get('password').touched )">
            Este campo es requerido.
          </mat-error>
        </mat-form-field>
        <div class="col-12 mb-1">
          <div class="row mx-1">
            <button mat-raised-button [disabled]="disableBtn" color="primary" type="submit"
                    class="col-12 col-sm-6 col-xl-3 mt-2">
              Iniciar Sesión  <i class="fas fa-sign-in-alt"></i>
            </button>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
              ¿No tienes cuenta?
              <a mat-button [routerLink]="['/registro']" color="primary">
                ¡Regístrate! <i class="fas fa-user-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>
