<main>
  <h3 class="text-center">
    {{ title }}
  </h3>
  <mat-card *ngIf="state === 0" class="container-fluid">
    <mat-vertical-stepper linear="true">
      <mat-step [stepControl]="basicInfo" [completed]="false" class="row">
        <ng-template matStepLabel>Información básica</ng-template>
        <form [formGroup]="basicInfo">
          <!--Nombre-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Nombre(s)</mat-label>
            <input matInput formControlName="nombres">
            <mat-error *ngIf="basicInfo.get('nombres').errors?.required
                          &&( basicInfo.get('nombres').dirty || basicInfo.get('nombres').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.get('nombres').errors?.pattern
                          &&( basicInfo.get('nombres').dirty || basicInfo.get('nombres').touched )">
              No parece ser un nombre válido.
            </mat-error>
          </mat-form-field>
          <!--Primer Apellido-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Primer Apellido</mat-label>
            <input matInput formControlName="apellido1">
            <mat-error *ngIf="basicInfo.get('apellido1').errors?.required
                          &&( basicInfo.get('apellido1').dirty || basicInfo.get('apellido1').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.get('apellido1').errors?.pattern
                          &&( basicInfo.get('apellido1').dirty || basicInfo.get('apellido1').touched )">
              No parece ser un apellido válido.
            </mat-error>
          </mat-form-field>
          <!--Segundo Apellido-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput formControlName="apellido2">
            <mat-error *ngIf="basicInfo.get('apellido2').errors?.pattern
                          &&( basicInfo.get('apellido2').dirty || basicInfo.get('apellido2').touched )">
              No parece ser un apellido válido.
            </mat-error>
          </mat-form-field>
          <!--Teléfono-->
          <mat-form-field class="col-lg-6 col-sm-12">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" type="text" [maxLength]="10">
            <mat-error *ngIf="basicInfo.get('telefono').errors?.required
                          &&( basicInfo.get('telefono').dirty || basicInfo.get('telefono').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.get('telefono').errors?.pattern
                          &&( basicInfo.get('telefono').dirty || basicInfo.get('telefono').touched )">
              No parece ser un teléfono válido.
            </mat-error>
          </mat-form-field>
          <!--Correo-->
          <mat-form-field class="col-lg-6 col-sm-12">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="basicInfo.get('email').errors?.required
                          &&( basicInfo.get('email').dirty || basicInfo.get('email').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.get('email').errors?.email
                          &&( basicInfo.get('email').dirty || basicInfo.get('email').touched )">
              No parece ser un correo válido.
            </mat-error>
          </mat-form-field>
          <!--Contraseña-->
          <mat-form-field class="col-lg-6 col-sm-12 mb-1">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="contrasena" type="password">
            <mat-error *ngIf="basicInfo.get('contrasena').errors?.required
                          &&( basicInfo.get('contrasena').dirty || basicInfo.get('contrasena').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.get('contrasena').errors?.minlength
                          &&( basicInfo.get('contrasena').dirty || basicInfo.get('contrasena').touched )">
              La contraseña es demasiado corta.
            </mat-error>
          </mat-form-field>
          <!--Verificar contraseña-->
          <mat-form-field class="col-lg-6 col-sm-12 mb-1">
            <mat-label>Verificar contraseña</mat-label>
            <input matInput formControlName="verificarContrasena" type="password">
            <mat-error *ngIf="basicInfo.get('verificarContrasena').errors?.required
                          &&( basicInfo.get('contrasena').dirty || basicInfo.get('contrasena').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="basicInfo.controls['verificarContrasena'].errors?.notEqual
                        &&( basicInfo.controls['contrasena'].dirty || basicInfo.controls['contrasena'].touched )"
                       class="invalid-feedback d-block">
              Los campos no coinciden.
            </mat-error>
          </mat-form-field>
          <button mat-raised-button matStepperNext [disabled]="disableBasicInfoBtn" color="primary"
                  class="m-1">Continuar
          </button>
        </form>
      </mat-step>
      <mat-step [stepControl]="address" [completed]="false" class="row">
        <ng-template matStepLabel>Dirección</ng-template>
        <form [formGroup]="address">
          <!--Calle-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle">
            <mat-error *ngIf="address.get('calle').errors?.required
                          &&( address.get('calle').dirty || address.get('calle').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="address.get('calle').errors?.pattern
                          &&( address.get('calle').dirty || address.get('calle').touched )">
              No parece ser una calle válida.
            </mat-error>
          </mat-form-field>
          <!--Número-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Número exterior</mat-label>
            <input matInput formControlName="numeroExterior" maxLength="5">
            <mat-error *ngIf="address.get('numeroExterior').errors?.required
                          &&( address.get('numeroExterior').dirty || address.get('numeroExterior').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="address.get('numeroExterior').errors?.pattern
                          &&( address.get('numeroExterior').dirty || address.get('numeroExterior').touched )">
              No parece ser un número válido.
            </mat-error>
          </mat-form-field>
          <!--Número interior-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Número interior</mat-label>
            <input matInput formControlName="numeroInterior">
            <mat-error *ngIf="address.get('numeroInterior').errors?.required
                          &&( address.get('numeroInterior').dirty || address.get('numeroInterior').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="address.get('numeroInterior').errors?.pattern
                          &&( address.get('numeroInterior').dirty || address.get('numeroInterior').touched )">
              No parece ser un número interior válido.
            </mat-error>
          </mat-form-field>
          <!--Colonia-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Colonia</mat-label>
            <input matInput formControlName="colonia">
            <mat-error *ngIf="address.get('colonia').errors?.required
                          &&( address.get('colonia').dirty || address.get('colonia').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="address.get('colonia').errors?.pattern
                          &&( address.get('colonia').dirty || address.get('colonia').touched )">
              No parece ser una colonia válida.
            </mat-error>
          </mat-form-field>
          <!--Código Postal-->
          <mat-form-field class="col-lg-4 col-sm-12">
            <mat-label>Código Postal</mat-label>
            <input matInput formControlName="codigoPostal" maxlength="5">
            <mat-error *ngIf="address.get('codigoPostal').errors?.required
                          &&( address.get('codigoPostal').dirty || address.get('codigoPostal').touched )">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="address.get('codigoPostal').errors?.pattern
                          &&( address.get('codigoPostal').dirty || address.get('codigoPostal').touched )">
              No parece ser un código postal válido.
            </mat-error>
          </mat-form-field>
          <div class="row">
            <button mat-stroked-button matStepperPrevious color="primary" class="m-1">
              Regresar
            </button>
            <button mat-raised-button matStepperNext [disabled]="disableAddressBtn" color="primary" class="m-1">
              Continuar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="false" class="row">
        <ng-template matStepLabel>Términos y condiciones</ng-template>
        <div class="d-inline-block align-middle p-1 mt-auto mb-auto">
          <mat-checkbox [(ngModel)]="agreement" class="col-lg-6 col-sm-12 mb-1" color="primary">
            <span>Estoy de acuerdo con los <a mat-button (click)="openDialog()" color="primary">términos y condiciones.</a></span>
          </mat-checkbox>
        </div>
        <div class="col-12 my-3">
          <div class="row mx-1">
            <button mat-raised-button [disabled]="!agreement" color="primary" (click)="signUp()"
                    class="col-12 col-sm-6 col-xl-3 mt-2">
              Registrarse <i class="fas fa-user-plus"></i>
            </button>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
              ¿Ya tienes cuenta?
              <a mat-button [routerLink]="['/inicio-de-sesion']" color="primary">
                Inicia sesión <i class="fas fa-sign-in-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
  <app-loading *ngIf="state === 1"></app-loading>
  <app-success *ngIf="state === 2"></app-success>
  <app-error *ngIf="state === 3"></app-error>
</main>
